// ********************* FONTS DECLARATION *********************

@font-face {
  font-family: $primary-font;
  src: $primary_font_url;
}

@font-face {
  font-family: $crc_regular;
  src: $circe_regular_url;
}

@font-face {
  font-family: $crc_bold;
  src: $circe_bold_url;
}

@font-face {
  font-family: $crc_bold;
  src: $circe_bold_url;
}

@font-face {
  font-family: $crc_light;
  src: $circe_light_url;
}
