<div class="footer-cta cta-wrapper">
  <h2>
    <span>{{footertitletext1}}</span>
    <span class="footer-title-2 bottom-bg">{{footertitletext2}}</span>
  </h2>
  <div class="cta-btn-wrap">
    <a href={{footerCTAlink}}><span class="next-link-icon pulse-effect"></span></a>
  </div>
</div>