.email-logo {
  position: relative;
  padding-left: 37px;

  .fa {
    position: absolute;
    top: -2px;
    right: auto;
    bottom: auto;
    left: 0;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}
