{% set iwtlisting_base_class = 'listings' %}

{% set iwt_content_blockname = iwt_base_class %}

<section {{ bem(iwtlisting_base_class, (iwtlisting_modifier), iwtlisting_blockname)}}>
	{% for iwtlist in iwtlists %}
		{% include "@molecules/image-with-text/image-with-text.twig" with iwtlist
		%}
	{% endfor %}

</section>
