<div class="full-cta cta-wrapper">
  <a href={{fullCTAlink}} class="full-ctalink-wrap not-effect">
    <h2 class="full-title-cta">
      <span>{{fullCTAtext1}}</span>
      <span class="footer-title-2 bottom-bg">{{fullCTAtext2}}</span>
      <div class="cta-btn-wrap">
        <span class="next-link-icon pulse-effect"></span>
      </div>

    </h2>
  </a>
</div>